<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dogs</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <a href="/">Home</a>
    <a href="/registerDog">Register a Dog</a>
    <h1>This is where the dogs are displayed</h1>
    <p>Filter by Adopted or Registered</p>
    <ul class="dogs">
        <li class="dog">
            <img src="/dog.png" alt="dog icon">
            <h4>Dog Name: Buddy</h4>
            <p>Looking for a big family with lots of kids to play with.</p>
            <p>Registered or Adopted</p>
            <p>Adopt Button and Delete/Remove Button</p>
        </li>
        <li class="dog">
            <img src="/dog.png" alt="dog icon">
            <h4>Dog Name: Spot</h4>
            <p>Prefers to be an only dog. Loves cats.</p>
            <p>Registered or Adopted</p>
            <p>Adopt Button and Delete/Remove Button</p>
        </li>
        <li class="dog">
            <img src="/dog.png" alt="dog icon">
            <h4>Dog Name: Fluffy</h4>
            <p>Loves to cuddle!</p>
            <p>Registered or Adopted</p>
            <p>Adopt Button and Delete/Remove Button</p>
        </li>
    </ul>

</body>

</html>