body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.dog-logo img {
    max-width: 300px;
    height: auto;
    margin-top: 40px;
}

h1 {
    color: #272efc;
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #ee9c89;
    border-radius: 36px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #e68a74;
}

form.register-form {
    width: 360px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
    color: #272efc;
}

form h2 {
    font-size: 2.4em;
    font-weight: 900;
    margin-bottom: 40px;
}

label {
    display: block;
    margin: 20px 0 10px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
}

button {
    margin-top: 30px;
    display: block;
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: 36px;
    background-color: #ee9c89;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e68a74;
}

.action-btn {
    width: 120px;
    margin: 0;
    padding: 10px 0;
    background-color: #6ab04c;
    font-weight: 600;
    font-size: .8em;
    letter-spacing: 1px;
    border-radius: 24px;
}

.action-btn:hover {
    background-color: #4a8c32;
}

.error {
    color: #ff0099;
    margin: 10px 2px;
    font-size: 0.8em;
    font-weight: bold;
}

.dogs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 80px;
    margin: 80PX AUTO;
    max-width: 1200px;
}

.dog {
    display: inline-block;
    border-radius: 20px;
    background: white;
    position: relative;
    text-align: center;
    padding: 0 20px 30px 20px
}

.dog img {
    width: 100px;
    margin: -30px auto 20px;
}

.dog form {
    display: flex;
    justify-content: center;
    /* centers the button horizontally */
    margin-top: 15px;
    /* optional spacing above the button */
    padding: 0;
    /* reset any padding if needed */
}